.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.Calculator-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.calc {
 align-content: center;
 display: flex;
 flex-direction: column;
}

.caption {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 20px;
}

.text {
  font-size: 16px;
  color: chartreuse;
  flex-direction: column;
}

.money {
  align-content: center;
  justify-content: center;
}