.Calculator-header {
  background-color: #282c34;
  flex: 1;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Title {
  /* margin-top: 100px */
  padding-top: 100px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.Instructions {
  padding-top: 60px;
  margin-top: 20px;
}



.Box {
padding-top: 60px;
margin-bottom: 60px;
display: inline-flex;
justify-content: center;
align-items: center;
margin-right: 5px; 
}

.Money {
  padding: 6px;
  margin-bottom: 6px;
  top: 10px;
}

.Input{
align-content: center;
align-items: center; 
justify-content: center;
border-color: #FFF;
height: 30px;
margin-bottom: 0px;
margin-left: 5px;
}

.Calc {
margin: 30px;
margin-top: 20px;
margin-bottom: 20px;
padding: 10px; 
justify-content: center;
flex-direction: column;
background-color: #FFF;
}

.Caption {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 20px;
}

.Text {
  color-adjust: #FFF;
  font-size: 16px;
  color:#FFF;
  flex-direction: column;
}


.Button {
  position: fixed;
  margin-top: '100px';
  color: 'white';
  color: 'white'; 
  position: 'fixed'
}






