.calc {
 align-content: center;
 display: flex;
 flex-direction: column;
}

.caption {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 20px;
}

.text {
  font-size: 16px;
  color: chartreuse;
  flex-direction: column;
}

.money {
  align-content: center;
  justify-content: center;
}